<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielstone.smartbinapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SmartBin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ZFaIo1UhOMkh787sMmpWsRPIhESHG6DCa74RP2Gx" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="ckuT960vBW2fCEkPMP1IEKvvp2gHEKkXxfU6v33o" />

    </application>

</manifest>
